<nav id="nav">
  <div class="container">
  <ul class="left">
      <li><%= link_to 'Our Catalog', items_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Login', login_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Sign Up', new_customer_path %></li>
    </ul>
  </div>
</nav>