<div id="tabbed">
  <tabs>

    <tab name="Active" v-bind:selected="true">
      <%= render :partial => "customers_list", locals: {customers: @active_customers, state: 'active'} %>
    </tab>

    <tab name="Inactive">
      <%= render :partial => "customers_list", locals: {customers: @inactive_customers, state: 'inactive'} %>
    </tab>

  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'customer'} %>