<div id="tabbed">
  <tabs>

    <tab name="Active" v-bind:selected="true">
      <%= render :partial => "address_list", locals: {addresses: @active_addresses, state: 'active'} %>
    </tab>

    <tab name="Inactive">
      <%= render :partial => "address_list", locals: {addresses: @inactive_addresses, state: 'inactive'} %>
    </tab>

  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'address'} %>